{:source-paths ["cljs/src"]
 :dependencies [[reagent "1.2.0"]]
 :builds
 {:app
  {:target :browser
   :output-dir "src/cljs-out"
   :asset-path "/src/cljs-out"
   :modules {:main {:init-fn manimani.ui/init!}}
   :devtools {:after-load manimani.ui/mount!}}}}
